*~
Graphs/fw
Graphs/fexample
Graphs/example
Graphs/parallel/semaphores/barrier
Graphs/parallel/semaphores/multiplex
Graphs/parallel/semaphores/rendezvous
practice/bit
practice/hanoi
practice/list
practice/tree
practice/tree2

mldata/mnist_train.csv
mldata/mnist_test.csv

