*~
Graphs/fw
Graphs/fexample
Graphs/example
Graphs/parallel/semaphores/barrier
Graphs/parallel/semaphores/multiplex
Graphs/parallel/semaphores/rendezvous
practice/bit
practice/hanoi
practice/list
practice/tree
practice/tree2
*pyc
data/
mldata/mnist_train.csv
mldata/mnist_test.csv

*fbData.py
*doc2vec_model
*model.csv

*model.d2v
*model_wapo.csv

*fbPolitico.py
*fbWapo.py
